<?xml version="1.0"?>
<configuration>
    <appSettings>
        <!-- CPub_RPCPort: RPC port on which RD Connection Broker service is listening. -->
        <add key="DefaultCentralPublishingPort" value="5504" />
        <!--
          The WorkspaceID, WorkspaceName, and WorkspaceDescription settings are used to configure RemoteApp and Desktop Connection only when the 
          RemoteApp and Desktop Connection feed or Remote Desktop Web Access (RD Web Access) is configured to use a Remote Desktop Session Host 
          (RD Session Host) server that is not running Windows Server 2012.

          When the RemoteApp and Desktop Connection feed or RD Web Access is configured to use a Remote Desktop Connection Broker 
          (RD Connection Broker) server, the settings are configured by updating the singleton instance of the Win32_Workspace WMI class on 
          the RD Connection Broker server.

          If the RemoteApp and Desktop Connection feed or RD Web Access is configured to use both an RD Connection Broker server and one or more 
          RD Session Host servers that are not running Windows Server 2012, the settings should be set to the same values in both locations.

          WorkspaceName: The Name attribute of the RADConnectionSettings tag in the feed. The name will be used to identify the 
                         RemoteApp and Desktop Connection feed to the user.

          WorkspaceID: A unique identifier for the feed, displayed as the ID attribute of the WorkspaceSettings tag in the feed. The ID can 
                       be a fully qualified domain name (FQDN), GUID, or some other globally unique identifier. The default ID is the FQDN of 
                       the RD Web Access server or a GUID {C5DBDC2D-AED2-3871-5216-B4B26E523DAC} and should be changed.

          WorkspaceDescription: The Description attribute of the WorkspaceSettings tag in the feed. This attribute is optional, and if not 
                                specified, defaults to an empty string.
    -->
        <add key="WorkspaceID" value="Remote-Infra.remote-dmap.co.th" />
        <add key="WorkspaceName" value="" />
        <add key="WorkspaceDescription" value="" />
        <!-- The following settings (ws08r2rdserver and radcmserver) specify the source of the data for the feed.

       ws08r2rdserver: The name of one or more Windows Server 2008 R2 Remote Desktop Session Host Server(s). 
       For WMI to be able to communicate with the Remote Desktop Session Host server(s), the 
       RD Web Access server computer account must be a member of the local TS Web Access Computers 
       security group on each Remote Desktop Session Host server.

       Note: You must separate each RD Session Host server name by using a semicolon.

       radcmserver:  The name of the server Windows v.Next server that is running the RemoteApp and Desktop Connection Management service. 
       -->
        <add key="ws08r2rdserver" value="" />
        <add key="radcmserver" value="Remote-Infra.remote-dmap.co.th" />
    </appSettings>
    <system.web>
    	<customErrors mode="RemoteOnly" defaultRedirect="mycustompage.htm"/>
        <!--
    	    Set compilation debug="true" to insert debugging
    	    symbols into the compiled page. Because this
    	    affects performance, set this value to true only
    	    during development.
    	-->
        <compilation debug="false" />
        <identity impersonate="false" />
        <!--
    	    The <customErrors> section enables configuration
    	    of what to do if/when an unhandled error occurs
    	    during the execution of a request. Specifically,
    	    it enables developers to configure html error pages
    	    to be displayed in place of a error stack trace.

    	<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
    	    <error statusCode="403" redirect="NoAccess.htm"/>
    	    <error statusCode="404" redirect="FileNotFound.htm"/>
    	</customErrors>
    	-->
        <httpRuntime executionTimeout="600" />
    </system.web>
    <system.diagnostics>
        <switches>
            <!--
    		TraceTSWA has the following values
    		  Off = 0, Error = 1, Warning = 2, Info = 3, Verbose = 4
    	    -->
            <add name="TraceTSWA" value="0" />
        </switches>
        <trace autoflush="true" indentsize="4">
            <listeners>
                <remove name="Default" />
                <!-- Uncomment for file tracing
    		<add name="FileLog"
    			type="Microsoft.VisualBasic.Logging.FileLogTraceListener,
    			Microsoft.VisualBasic, Version=8.0.0.0,
    			Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a,
    			processorArchitecture=MSIL"
    			initializeData="FileLogWriter" BaseFileName="RDWeb"
    			Location="Custom"
			LogFileCreationSchedule="Daily"
			MaxFileSize="50000000"
    			CustomLocation="\Windows\Web\RDWeb\App_Data" />
    		-->
            </listeners>
        </trace>
    </system.diagnostics>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true">
            <!-- The following two lines fix an issue caused by installing the .NET 3.5.1 WCF HTTP Activation feature after installing .NET framework 4 -->
            <remove name="ServiceModel" />
            <add name="ServiceModel" type="System.ServiceModel.Activation.HttpModule, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler,runtimeVersionv2.0" />
        </modules>
        <staticContent>
            <mimeMap fileExtension=".rdp" mimeType="application/x-rdp" />
        </staticContent>
        <httpRedirect enabled="true" destination="/RDWeb/Pages" exactDestination="false" childOnly="true" httpResponseStatus="Permanent" />
    </system.webServer>
</configuration>
