<?xml version="1.0" encoding="UTF-8"?>
<!--
    Note: As an alternative to hand editing this file you can use the
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in
    machine.config.comments usually located in
    \Windows\Microsoft.Net\Framework\v2.x\Config
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">

    <appSettings>
    	<!-- optimize for LAN experience: True if optimized -->
    	<add key="OptimizeExperienceState" value="False" />
    </appSettings>

    <system.web>
	<!--
	    The <authentication> section enables configuration
	    of the security authentication mode used by
	    ASP.NET to identify an incoming user.
	-->
      	<authentication mode="Forms">
            <forms cookieless="UseCookies" loginUrl="\RDWeb\FeedLogin\WebFeedlogin.aspx" requireSSL="false" />
        </authentication>
      	<authorization>
            <deny users="?" />
        </authorization>
        <machineKey decryptionKey="AutoGenerate" validationKey="AutoGenerate" />
    </system.web>
    <system.webServer>
        <httpRedirect enabled="false" />
        <defaultDocument>
          <files>
            <remove value="Default.aspx" />
            <add value="WebFeed.aspx" />
          </files>
        </defaultDocument>
    </system.webServer>

  <location path="rdp">
    <system.webServer>
      <handlers>
        <add name="RDWAResourceFileHandler" path="rdp" verb="*" type="Microsoft.TerminalServices.Publishing.Portal.ResourceFileHandler" preCondition="integratedMode" allowPathInfo="true"/>
      </handlers>
    </system.webServer>
  </location>
</configuration>
